.wrapper {
    display: flex;
    align-items: center;
    color: #546076;
    gap: 5px;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-weight: 500;
}

.items {
    display: flex;
    gap: 5px;
}

.buttonItem {
    font-size: 14px;
    font-weight: 500;
    color: #9aa0b5;
    border: 1px solid #9aa0b5;
    border-radius: 50px;
    background: none;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 40px;
    width: clamp(54px, 15vw, 80px);
    flex: 1;
}

.active {
    background: inherit;
    color: #fff;
    border: 1px solid;
    font-weight: 700;
}
