.container {
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 2px;
    background-color: #546076;
    border: none;
    position: relative;
    cursor: pointer;
    margin-top: -19px;
  }
  
  .menu::before,
  .menu::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #546076; 
  }
  
  .menu::before {
    top: 10px;
  }
  
  .menu::after {
    top: 22px; 
  }

  .headerTitle {
    color: #546076;
    font-size: 34px;

  }

  .refreshIcon {
    width: 32px;
    height: 35px;
  }


  

  

  