@import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@75..100,100..900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 500px;
    max-height: 1000px;
    padding: 0 20px;
    height: 100vh;
    margin: 0 auto;
    background: #1d2637;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 26px;
}